@import "globals.scss";
.feed-item {
  border-radius: 10px;
  overflow: hidden;
  .thumbnail-cont {
    max-height: 300px;
    width: 100%;
    overflow: hidden;
  }

  .card-body {
    padding-bottom: 0;
    .post-title {
      font-family: "Poppins", sans-serif;
    }
    .post-body {
      font-family: "Lato", sans-serif;
      font-style: italic;
      > span {
        margin-right: 7px;
      }
    }
    > .row {
      justify-content: flex-start;
      > div {
        .profile-pic {
          width: 100%;
          height: 100%;
        }
        .author-name {
          font-family: "Lato", sans-serif;
        }
        .author-username {
          color: $grey;
          font-family: "Poppins", sans-serif;
          font-size: 0.8rem;
        }
      }
      > .createdAt {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 0.8rem;
      }

      > .edit-btn,
      > .delete-btn {
        font-family: "Lato", sans-serif;
      }

      > .profile-pic-cont {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        display: grid;
        place-items: center;
        padding: 5px;
      }
    }
  }
}

.feed-item-dark {
  background-color: $darkGrey;
  color: $white;
  .card-body {
    border-bottom-color: $grey;
    .post-title {
      color: $textHeading;
    }
    .post-body {
      color: $textGrey;
    }
    > .row {
      > div {
        .author-name {
          color: $textHeading;
        }
        .author-username {
          color: $textGrey;
        }
      }
      .edit-btn {
        background-color: $grey;
        color: $textHeading;
      }
    }
  }
}

.feed-item-light {
  .card-body {
    .post-title {
      color: $darkGrey;
    }
    .post-body {
      color: $grey;
    }
    > .row {
      > div {
        .author-name {
          color: $darkGrey;
        }
        .author-username {
          color: $grey;
        }
      }
      .edit-btn {
        background-color: rgba($color: $textGrey, $alpha: 0.7);
      }
    }
  }
}
